<div class="countdown-container" *ngIf="!shareVisible && !infoVisible && !settingVisible && !warningTimerVisible">
  <div class="countdownTimerContainer" *ngIf="!editModeWarning">
    <div *ngIf="!editMode; else countdownEditmode" (click)="toggleEditMode()" class="countdownTimer">
      <div class="noButtonCountdownTimer" [class.countdownStarted]="countdownStarted" [class.paused]="!isCountdownRunning" [class.hashours]="showHours" [class.nohours]="!showHours">
        {{ countdownTime }}
      </div>
    </div>
    <!--countdown editmode-->
    <ng-template #countdownEditmode>
      <div class="slide-up">
        <div class="content-container">
          <p class="subtitle1">set time</p>
          <button class="close" (click)=" hide()">X</button>
          <div *ngIf="editMode" class="countdownTimer">
            <div class="editing-controls">
              <div class="timeContainer">
                <span (click)="increaseEditingHours()" class="arrowContainer">
                  <img src="../../assets/icon/arrow-up.png" class="arrow-up">
                </span>
                <span class="time">{{ editingHours | number:'2.0-0' }}:</span>
                <span (click)="decreaseEditingHours()" class="arrowContainer">
                  <img src="../../assets/icon/arrow-down.png" class="arrow-down">
                </span>
              </div>
              <div class="timeContainer">
                <span (click)="increaseEditingMinutes()" class="arrowContainer">
                  <img src="../../assets/icon/arrow-up.png" class="arrow-up">
                </span>
                <span class="time">{{ editingMinutes | number:'2.0-0' }}:</span>
                <span (click)="decreaseEditingMinutes()" class="arrowContainer">
                  <img src="../../assets/icon/arrow-down.png" class="arrow-down">
                </span>
              </div>
              <div class="timeContainer">
                <span (click)="increaseEditingSeconds()" class="arrowContainer">
                  <img src="../../assets/icon/arrow-up.png" class="arrow-up">
                </span>
                <span class="time">{{ editingSeconds | number:'2.0-0' }} </span>
                <span (click)="decreaseEditingSeconds()" class="arrowContainer">
                  <img src="../../assets/icon/arrow-down.png" class="arrow-down">
                </span>
              </div>
            </div>
            <div class="timeButtons">
              <div (click)="resetEditingTime()" class="hours">00:00</div>
              <div (click)="increase5Minutes(5)" class="minutes">+05m</div>
              <div (click)="increase15Seconds(15)" class="seconds">+15s</div>
            </div>
          </div>
        </div>
      </div>    
    </ng-template>
  </div>
  
  <div class="warning-container" *ngIf="warningTimeVisible">
    <div class="warningTimerContainer">
      <div *ngIf="!editModeWarning else warningEditmode" (click)="toggleEditModeWarning()" class="warningTimer" [class.hashours]="showHours" [class.nohours]="!showHours" >{{ warningTime }}</div>
      <!--warning editmode-->
      <ng-template #warningEditmode>
        <div class="slide-up">
          <div class="content-container">
            <p class="subtitle1">set warning times</p>
            <button class="close" (click)="hide()">X</button>
            <div *ngIf="editModeWarning" class="countdownTimer">
              <div class="editing-controls">
                <div class="timeContainer">
                  <span (click)="increaseEditingWarningHours()" class="arrowContainer">
                    <img src="../../assets/icon/arrow-up.png" class="arrow-up">
                  </span>
                  <span class="time">{{ editingWarningHours | number:'2.0-0' }}:</span>
                  <span (click)="decreaseEditingWarningHours()" class="arrowContainer">
                    <img src="../../assets/icon/arrow-down.png" class="arrow-down">
                  </span>
                </div>
                <div class="timeContainer">
                  <span (click)="increaseEditingWarningMinutes()" class="arrowContainer">
                    <img src="../../assets/icon/arrow-up.png" class="arrow-up">
                  </span>
                  <span class="time">{{ editingWarningMinutes | number:'2.0-0' }}:</span>
                  <span (click)="decreaseEditingWarningMinutes()" class="arrowContainer">
                    <img src="../../assets/icon/arrow-down.png" class="arrow-down">
                  </span>
                </div>
                <div class="timeContainer">
                  <span (click)="increaseEditingWarningSeconds()" class="arrowContainer">
                    <img src="../../assets/icon/arrow-up.png" class="arrow-up">
                  </span>
                  <span class="time">{{ editingWarningSeconds | number:'2.0-0' }} </span>
                  <span (click)="decreaseEditingWarningSeconds()" class="arrowContainer">
                    <img src="../../assets/icon/arrow-down.png" class="arrow-down">
                  </span>
                </div>
              </div>
              <div class="timeButtons">
                <div (click)="resetEditingWarningTime()" class="hours">00:00</div>
                <div (click)="increaseWarning5Minutes(5)" class="minutes">+05m</div>
                <div (click)="increaseWarning15Seconds(15)" class="seconds">+15s</div>
              </div>
            </div>
          </div>
        </div>    
      </ng-template>
      <div (click)="showWarningTimer()" class="warningTimer" *ngIf="!editModeWarning">
        <img src="../../assets/icon/orangeLock.png" class="warningTimerIcon">
      </div>
      <div (click)="showWarningTimer()" class="warningTimer" *ngIf="!editModeWarning">
        <img src="../../assets/icon/redLock.png" class="warningTimerIcon">
      </div>
    </div>
  </div>
  <div class="progress-container" [class.hide]="!showTimeline" *ngIf="!editModeWarning">
    <div class="progress-bar" [style.width.%]="normalTimeProgress"></div>
    <div class="progress-bar-yellow" [style.width.%]="warningTimeProgress"></div>
    <div class="arrow" [style.left.%]="arrowPosition"></div>
  </div>
  <div class="buttons" *ngIf="showButtons && !editModeWarning && !editMode">
    <img src="../../assets/icon/infoIcon.png" class="buttonImage infoIcon" [class.disabled]="countdownStarted" (click)="showInfo()">
    <img src="../../assets/icon/settingIcon.png" class="buttonImage settingIcon" [class.disabled]="countdownStarted" (click)="showSetting()">
    <img [src]="countdownStarted ? '../../assets/icon/pause.png' : '../../assets/icon/playIcon.png'" class="buttonImage pauseIcon" [class.started]="countdownStarted" (click)="toggleCountdown()">
    <img src="../../assets/icon/returnIcon.png" class="buttonImage returnIcon" [class.started]="countdownStarted" (click)="stopCountdown()">
    <img src="../../assets/icon/shareIcon.png" class="buttonImage shareIcon" [class.disabled]="countdownStarted"(click)="showShare()">
  </div>
</div>


<!-- Warning Timer-->
<div class="slide-up" *ngIf="warningTimerVisible">
  <div class="warning-timer-container">
    <p class="subtitle">Get all 3 Warning Times!</p>
    <p class="time">01:15</p>
    <div class="progress-container">
      <div class="progress-bar"></div>
      <div class="progress-bar-yellow"></div>
      <div class="progress-bar-orange"></div>
      <div class="progress-bar-red"></div>
      <div class="arrow" [style.left.%]="arrowPosition"></div>
    </div>

    <div class="buttons">
      <button class="restore-button">restore</button>
      <button class="upgrade-button">upgrade</button>
    </div>
    <button class="back" (click)="hide()">X</button>
  </div>
</div>

<!-- Info -->
<div class="slide-up" *ngIf="infoVisible">
  <div class="content-container">
    <div class="title">about</div>
    <button class="close" (click)=" hide()">X</button>
    <div class="content">Speech timer is used in talks, speeches,</div>
    <div class="content">debates or anything that needs a polite</div>
    <div class="content">reminder to remain on time!</div>
    <div class="content"></div>
    <div class="content">Includes time line, overtime (15minutes),</div>
    <div class="content">count up & down, 3 times formats and up to 3</div>
    <div class="content">warn times!</div>
    <div class="infoButtons">
      <button class="rate-button" (click)="navigateToRateUs()">rate Us!</button>
      <button class="app-button" (click)="navigateToMoreApps()">more apps</button>
    </div>
  </div>
</div>

<!-- Share-->
<div class="slide-up" *ngIf="shareVisible">
  <div class="content-container">
    <div class="title">share</div> 
    <button class="close" (click)="hide()">X</button>
    <div class="tagContent">
      <div class="tag-text" [ngClass]="{'defaultText': isDefaultText }">{{ selectedTagText }}</div>
    </div>
    <div class="tagButtonContent">
      <div class="tag-button" *ngFor="let tag of tags; let i = index" (click)="selectTag(i)">{{ tag }}</div>
    </div>
    <div *ngIf="tagSelected" class="share-button" (click)="shareSpeech()">
      <img src="../../assets/icon/accept.png" class="shareIcon">
    </div>
  </div>
</div>

<!-- Setting-->
<div class="slide-up" *ngIf="settingVisible">
  <div class="content-container">
    <div class="title">options</div> 
    <button class="close" (click)="hide()">X</button>
    <div class="content">
      <div class="optionContent">
        <div class="options">
          <div class="subtitle">sound</div>
          <div class="option-button" [class.enabled]="soundOption === 'enabled'" [class.disabled]="soundOption === 'disabled'" [class.chimes-only]="soundOption === 'chimes only'" (click)="toggleSoundOption()">{{ soundOption }}</div>
        </div>
        <div class="options">
          <div class="subtitle">timeline</div>
          <div (click)="toggleTimeline()">
            <img [src]="showTimeline ? '../../assets/icon/switchOn.png' : '../../assets/icon/switchOff.png'" class="toggleButton">
          </div>
        </div>
        <div class="options">
          <div class="subtitle">overtime</div>
          <div (click)="toggleOvertime()">
            <img [src]="showOvertime ? '../../assets/icon/switchOn.png' : '../../assets/icon/switchOff.png'" class="toggleButton">
          </div>
        </div>
        <div class="options">
          <div class="subtitle">count mode</div>
          <div (click)="toggleCountMode()">
            <div [ngClass]="countMode ? 'green-arrow' : 'orange-arrow'" class="toggleButton"></div>
          </div>                   
        </div>
        <div class="options">
          <div class="subtitle">time format</div>
          <div class="option-button" (click)="toggleTimeFormatOption()">{{ timeFormatOption }}</div>
        </div>
      </div>
    </div>
</div>

