.countdown-container {
  text-align: center;
  margin-top: 20px;
  z-index: 1;

  .countdownTimer,
  .inputCountdownTimer {
    font-size: 20vw;
    font-weight: 550;
    margin: 10px;
    border-radius: 50px;
    border: none;
    color: #FFF;
    background-color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 900px;
    height: 100%;
  }
  .noButtonCountdownTimer {
    height: 800px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .countdownStarted,
  .paused {
    height: 800px;
  }
  .inputCountdownTimer {
    width: 99%;
    text-align: center;
  }
  input, button {
    margin: 5px;
  }

  .warning-times {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      align-items: center;

      input {
        margin-right: 5px;
      }
    }
  }
  .hide {
    display: none;
  }
  .progress-container {
    position: relative;
    height: 30px;
    background-color: lightgray;
    margin-top: 10px;
    .progress-bar {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: yellow;
    }
    .progress-bar-yellow {
      position: absolute;
      height: 100%;
      background-color: green;
    }
    .progress-bar-orange {
      height: 100%;
      background-color: orange;
      position: absolute;
    }
    .progress-bar-red {
      background-color: red;
      position: absolute;
      height: 100%;
    }
    .arrow {
      position: absolute;
      top: 30px;
      left: calc(100% - 10px);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid #FFF; 
      transition: left 1s linear;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttonImage {
      cursor: pointer;
      margin: 30px;
      width: 90px;
      &.disabled {
        pointer-events: none;
        opacity: 0.1;
      }
      &.started {
        opacity: 0.6;
      }
    }
  }
  .infoIcon,
  .settingIcon,
  .pauseIcon,
  .returnIcon,
  .shareIcon {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.warning-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  .hashours {
    font-size: 7vw;
  }
  .nohours {
    font-size: 10vw;
  }
  .warningTimerContainer {
    display: flex;  
    width: 100%;  
  }
  .warningTimer {
    display: flex;
    justify-content: center;
    font-weight: 550;
    margin: 10px;
    border-radius: 50px;
    color: yellow;
    background-color: #333;
    height: 330px;
    align-items: center;
    width: calc(100%/3);
    .warningTimerIcon {
      width: 128px;
      height: 128px;
    }
  }
  .inputWarningTimer {
    width: 98%;
    font-size: 200px;
    border-radius: 50px;
    background-color: #333;
    border: none;
    text-align: center;
    font-weight: 550;
  }
  .slide-up {
    .timeContainer {
      .time {
        color: yellow;
      }
    }
  }
}

.slide-up {
  animation: slide-up 0.5s ease forwards;
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: #272727;
  border-radius: 10px;
  width: 100%;
  height: 124%;
  z-index: 5;
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.show {
    transform: translateY(0);
  }
  .content-container {
    position: relative;
    color: #FFF;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 150px;
      border-bottom: 2px solid #fff;
      margin-bottom: 50px;
      font-weight: 500;
    }
    .subtitle1 {
      color: #999;
      font-weight: 600;
      font-size: 45px;
      padding: 0;
      margin: 0;
      text-align: start;
    }
    .share-button {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
      .shareIcon {
        width: 150px;
      }
    }
    .content {
      font-size: 4vw;
      padding: 0 100px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      font-size: 24px;
      border-radius: 50%;
      cursor: pointer;
      font-weight: 600;
      border: none;
      background-color: #FFF;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    .infoButtons {
      display: flex;
      justify-content: center;
      gap: 100px;
      margin-top: 100px;
      .rate-button,
      .app-button {
        width: 700px;
        height: 60px;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        color: #FFF;
        font-size: 22px;
        transition: transform 0.3s ease;
        background-color: #333;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .tagContent {
      display: flex;
      justify-content: center;
      align-items: center;
      .tag-text {
        text-align: center;
        font-size: 100px;
        background-color: #FFF;
        color: #000;
        width: 99%;
        margin-bottom: 100px;
      }
      .defaultText {
        background-color: #777;
        color: #000;
      }
    }
    .tagButtonContent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      margin: 0 auto;
      .tag-button {
        padding: 10px;
        background-color: #333;
        border: 1px solid #333;
        cursor: pointer;
        border-radius: 100px;
        max-width: 760px;
        margin: 10px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
      }
    }
    .countdownTimer {
      height: 1000px;
      font-size: 20vw;
      display: flex;
      flex-direction: column;
      width: 98vw;
      background-color: #272727;
      .timeButtons {
        display: flex;
        justify-content: space-between;
        font-size: 3vw;
        width: 78%;
        margin-left: 100px;
        margin-top: 50px;
        .hours,
        .minutes,
        .seconds {
          border-radius: 50px;
          width: 250px;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        .hours {
          background-color: #750000;
          color: #FFF;
        }
        .minutes,
        .seconds {
          background-color: #555;
          color: #FFF;
        }
      }
      .editing-controls {
      display: flex;
      .timeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .time {
          border-bottom: 1px solid #FFF;
          border-top: 1px solid #FFF;
        }
        .arrowContainer {
          display: flex;
          .arrow-up,
          .arrow-down { 
            width: 100px;
            height: 100px;
            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
     } 
    }
  }
  .warning-timer-container {
    .subtitle {
      color: #FFF;
      font-weight: 600;
      font-size: 45px;
      padding: 0;
      margin: 0;
    }
    .time {
      text-align: center;
      font-size: 35vw;
      color: orange;
      font-weight: 600;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1020px;
      
    }
    .progress-container {
      position: relative;
      height: 30px;
      background-color: lightgray;
      margin: 10px 0 50px 0;
  
      .progress-bar {
        height: 100%;
        width: 50%;
        background-color: green;
        transition: width 0.5s ease-in-out;
        position: absolute;
        z-index: 4;
      }
      .progress-bar-yellow {
        height: 100%;
        width: 75%;
        background-color: yellow;
        transition: width 0.5s ease-in-out;
        position: absolute;
        z-index: 3;
      }
      .progress-bar-orange {
        height: 100%;
        width: 90%;
        background-color: orange;
        transition: width 0.5s ease-in-out;
        position: absolute;
        z-index: 2;
      }
      .progress-bar-red {
        height: 100%;
        width: 100%;
        background-color: red;
        transition: width 0.5s ease-in-out;
        position: absolute;
        z-index: 1;
      }
      .arrow {
        position: absolute;
        top: 30px;
        left: 74.6% !important;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #FFF;
        transition: left 1s linear;
      }
    }
    .back {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      border: none;
    }
    .buttons {
      display: flex;
      justify-content: center;
      gap: 100px;
      .restore-button,
      .upgrade-button {
        width: 400px;
        height: 40px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: #FFF;
        font-size: 22px;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      .restore-button {
        background-color: #777;
      }
      .upgrade-button {
        background-color: #999;
      }
    }
  }
  .optionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 300px;
    .options {
      display: flex;
      font-size: 5vw;
      max-width: 1300px;
      height: 150px;
      .subtitle {
        max-width: 1000px;
        width: 100%;
        min-width: 400px;
      }
      .option-button {
        cursor: pointer;
        text-wrap: nowrap;
      }
      .disabled {
        color : #555;
      }
      .enabled {
        color: #FFF;
      }
      .chimes-only {
        color : orange;
      }
      .toggleButton {
        width: 150px;
      }
      .green-arrow {
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid green;
        transition: color 0.3s;
        margin: 20px 0 0 50px;
        &:active {
          border-bottom: 60px solid red;
        }
      }
      .orange-arrow {
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 60px solid orange;
        transition: color 0.3s;
        margin: 20px 0 0 50px;
        &:active {
          border-top: 60px solid red;
        }
      }
    }
  }
}
